.video-preview {
    display: inline-block;
    position: fixed;
    background: #ddd;
    overflow: hidden;
    /* This is temporary width and height, these'll be overriden when the source img is loaded. */
    /* If you already know size of a preview frame you can hardcode it here. */
    width: 400px;
    height: 300px;
    border-radius: 3px;
    box-shadow: 0 0 6px #bbb;

}